* {
    font-weight: normal;
    font-family: 'Helvetica', sans-serif;
}

body {
    max-width: 100vw;
}

.app-title{
    font-size: 48px;
}

.App {
    text-align: center;
}

.container{
    border-radius: 16px;
    width: 50vw;
    margin: 0 auto;
    padding: 8px;
    box-shadow:  16px 16px 32px #c2c2c2,
             -16px -16px 32px #ffffff;
}

input {
    padding: 8px;
    margin: 10px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #CCC;
}

.focus {

}

.btn {
    padding: 8px 4px;
    margin: 10px 0;
    color: white;
    border-radius: 8px;
    border: none;
    background: royalblue;
    height: 40px;
    width: 90%;    
}

button, input {
    width: 90%;
    font-size: 14pt;
    font-weight: lighter;
}

.card, .cardoverturned {
    width: 90%;
    margin: 10px auto;
    padding: 48px 0;
    border-radius: 8px;
    color: white;
    font-size: 20pt;
}

.card {
    background-color: steelblue;
}

.cardoverturned {
    background-color: yellowgreen;
}

@media (max-width: 960px) {
    .container{
        border: 1px solid;
        border-radius: 16px;
        width: 80vw;
        margin: 10px auto;
        padding: 16px;
    }

    .card, .cardoverturned {
    width: 90%;
    margin: 10px auto;
    padding: 48px 0;
    font-size: 20pt;
}
}
